{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>Recipe Calculator</h1>

    <form action="/calculate" method="post">

        <label>Select Recipe</label>

        <br>

        <select 
            class="form-half"
            name="recipe_id"
            required>

            {% for recipe in recipes %}

            <option value="{{ recipe.id }}">
                {{ recipe.name }}
            </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Desired Weight (grams)</label>

        <br>

        <input
            class="form-half"
            type="number"
            name="desired_weight"
            min="1"
            step="0.01"
            placeholder="Enter Desired Weight"
            oninput="if(this.value < 1) this.value='';"
            required>

        <br><br>

        <button type="submit">
            ⌨ Calculate Ingredients
        </button>

    </form>

</div>

{% endblock %}