{% extends "base.html" %}

{% block content %}

<div class="card login-card">

    <h1>🔐 Admin Login</h1>

    <form
    action="/login"
    method="post"
    class="login-form">

        <label>Username</label>



        <input
            class="login-input"
            type="text"
            name="username"
            required>

        <label>Password</label>

            <div class="password-container">

        <input
            class="login-input"
            type="password"
            id="password"
            name="password"
            required>

            <span
                class="toggle-password"
                onclick="togglePassword()">👁️
            </span>

        </div>

        <button 
            type="submit"
            class="login-btn">  
            
            Login
        </button>

    </form>

</div>

<script>

function togglePassword() {

    const password =
        document.getElementById("password");

    if (password.type === "password") {

        password.type = "text";

    }
    else {

        password.type = "password";

    }

}

</script>

{% endblock %}

