{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>
        Pending Note Requests
    </h1>

</div>

{% for item in requests %}

<div class="card">

    <h3>
        Recipe:
        {{ item.recipe.name }}
    </h3>


<p>
    <strong>Submitted By:</strong>
    <br>
    {{ item.submitted_by }}
</p>

<p>
    <strong>Submitted On:</strong>
    <br>
    {{ item.created_at }}
</p>

<p>
    <strong>Status:</strong>
    <br>
    {{ item.status }}
</p>

<p>
    <strong>Current Note:</strong>
</p>


    <textarea  
            class="suggestion-editor"
            readonly 
        >{{ item.recipe.notes or "No notes available" }}</textarea>

<p>
    <strong>Suggested Change:</strong>
</p>


    <textarea 
            class="suggestion-editor"
            readonly 
        >{{ item.note_content or "No notes available" }}</textarea>

    <br>


    <a href="/approve_note_request/{{ item.id }}">
        <button>
            ✅ Approve
        </button>
    </a>

<a href="/reject_note_request/{{ item.id }}">
    <button class="delete-btn">
        ❌ Reject
    </button>
</a>
</div>

{% endfor %}

{% endblock %}