{% extends "base.html" %}

{% block content %}

<div class="card">

    <h1>
        🍫 {{ recipe.name }}
    </h1>

</div>

<div class="card">

    <h2>Ingredients</h2>

    <table>

        <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Unit</th>
        </tr>

        {% for ingredient in recipe.ingredients %}

        <tr>

            <td>
                {{ ingredient.name }}
            </td>

            <td>
                {{ ingredient.quantity }}
            </td>

            <td>
                {% set unit = ingredient.unit|lower %}
                {% if unit == 'g' %}
                    Gm(s)
                {% elif unit == 'ml' %}
                    Ml(s)
                {% elif unit == 'pcs' %}
                    Pcs
                {% elif unit == 'tspn' %}
                    Tspn (teaspoon)
                {% elif unit == 'cup(s)' %}
                    cup(s)
                {% else %}
                    {{ ingredient.unit }}
                {% endif %}
            </td>

        </tr>

        {% endfor %}

    </table>

</div>

<div class="card">

    <h2>
        📝 Recipe Notes
    </h2>

    <textarea
        class="suggestion-editor"
        readonly
        >{{ recipe.notes or "No notes available" }}</textarea>

</div>

{% endblock %}